name: Build Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker Image
        run: docker buildx build --platform linux/amd64,linux/arm64 -t ${{ github.repository_owner }}/infon:latest -f Dockerfile . --progress plain

      - name: List Docker Images
        run: docker images

      - name: Pull Docker Image
        run: docker pull ${{ github.repository_owner }}/infon:latest || true

      - name: Push Docker Image to Container Registry
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ github.repository_owner }}/infon:latest
