name: Build Docker Image

on:
  push:
    branches:
      - master 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker Image
      run: docker buildx build --platform linux/amd64,linux/arm64 -t ${{ github.repository_owner }}/infon:latest -f path/to/Dockerfile .

    - name: Push Docker Image to Container Registry
      run: |
        echo ${{ secrets.CONTAINER_REGISTRY_PASSWORD }} | docker login -u ${{ secrets.CONTAINER_REGISTRY_USERNAME }} --password-stdin
        docker push ${{ github.repository_owner }}/infon:latest

